<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>RoboRM</title>

    <link href="./header.component.css" rel="stylesheet" type="text/css">
</head>


    <div class="box-area">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <a href="#">RoboRM</a>
                </div>
                <nav>
                    <a href="#">Home</a>
                    <a href="#">Home</a>
                    <a href="#">Home</a>
                    <a href="#">Home</a>
                    <a href="#">Home</a>
                    <a href="#">Home</a>
                </nav>
            </div>
        </header>

    </div>
    <body></body>


</html>